/* Main styles */

.mainCreatePage {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(182, 225, 201);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    var(--bgPastelGreen, 1) 100%
  );
  height: 100%;
}

/* Welcome banner section */

.mainCreatePage__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 30px;
  color: white;
  background-color: var(--mainGreen);
}

.mainCreatePage__heading {
  font-size: 2rem;
  margin: 0;
}

.mainCreatePage__instructionsButton {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  font-weight: 900;
  background-color: var(--white);
  color: var(--mainGreen);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.2);
}

.mainCreatePage__instructionsButton:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-bottom: 2px;
}

.mainCreatePage__instructionsList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 360px;
  width: 100%;
  margin-block: 0px;
  background-color: var(--white);
  color: var(--mainGreen);
  /* border-radius: 4px; */
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.387);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.387);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.387);
}

.mainCreatePage__instructionsItem {
  font-weight: 700;
  font-size: 1.2rem;
}

/* Buttons at the bottom of the page */

.mainCreatePage__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.mainCreatePage__createButton {
  background-color: var(--mainGreen);
  color: var(--white);
  border: none;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  font-size: 1.7rem;
  font-weight: 700;
  height: 70px;
  width: 300px;
  margin-top: 20px;
}

.mainCreatePage__resetButton {
  background-color: white;
  color: var(--mainGreen);
  border: none;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  font-size: 1.7rem;
  font-weight: 700;
  height: 70px;
  width: 300px;
}

.mainCreatePage__createButton:hover {
  background-color: var(--white);
  color: var(--mainGreen);
  cursor: pointer;
  margin-left: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.mainCreatePage__resetButton:hover {
  background-color: var(--mainGreen);
  color: var(--white);
  cursor: pointer;
  margin-left: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Breakpoints */

@media (width > 1200px) {
  /*
  .mainCreatePage {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .mainCreatePage__banner {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    height: 360px;
  }

  .mainCreatePage__instructionsList {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: flex-start;
    width: 99%;
    height: 60dvh;
    margin-top: 20px;
    z-index: 1;
  }*/

  .mainCreatePage__buttons {
    /* grid-column: 2 / 4;
    grid-row: 2 / 3; */
    /* justify-self: center;
    align-self: flex-start; */
    flex-direction: row;
    gap: 10px;
    width: 90%;
  }

  .mainCreatePage__createButton {
    margin-top: 0px;
  }

  .mainCreatePage__buttons > button:hover {
    margin-left: 0px;
  }
}

.mainCreatePage__loading {
  width: 90dvw;
  margin: 20px auto 0px auto;
  min-height: 510px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.uplot-logo {
  max-width: 25vw;
  height: auto;
}

.loading-gif {
  max-width: 20vw;
  height: auto;
}
