.savedRoutesTable {
  background-color: aliceblue;
  width: 100%;
  padding: 1rem;
}

.savedRoutesTable__retrieveRouteButton {
}

.savedRoutesTable__deleteRouteButton {
  background-color: rgb(247, 136, 136);
}

.loading-gif {
  width: 20vw;
  height: auto;
}

.savedRoutes__loading-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-self: center;
}

.uplot-logo {
  width: 25vw;
  height: auto;
}

.savedRoutesTable__deletePopUp {
  width: 75%;
  min-height: 10%;
  background: pink;
  color: black;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
