.savedRoutes {
  min-height: 100dvh;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.savedRoutes__banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
  color: var(--mainGreen);
  padding: 0;
}

.savedRoutes__table {
  width: 80dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.savedRoutes__row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: 1px solid #04b66c60;

  width: 100%;
}

.savedRoutes__routeName {
  grid-column: 1 / 2;
  align-self: center;
  color: var(--mainGreen);
  font-size: 1.5rem;
  font-weight: 600;
  width: 300px;
}
.savedRoutes__retrieveRouteButton {
  grid-column: 2 / 3;
  align-self: center;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--mainGreen);
  border: none;
  border-radius: 20px;
  height: 60px;
  width: 200px;
  margin: 10px 0px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.2);
}

.savedRoutes__retrieveRouteButton:hover {
  background-color: var(--white);
  color: var(--mainGreen);
  border: var(--mainGreen) solid 2px;
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.savedRoutes__delete {
  grid-column: 3 / 4;
  width: 10%;
  align-self: center;
  justify-self: center;
}

.savedRoutes__deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--mainGreen);
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.2);
}

.savedRoutes__deleteButton:hover {
  background-color: rgb(249, 0, 0);
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.savedRoutes__deleteIcon {
  width: 35px;
  height: 35px;
}

.savedRoutesTable__deleteRouteButton {
  background-color: rgb(247, 136, 136);
  z-index: 5;
}

.loading-gif {
  width: 20vw;
  height: auto;
}

.savedRoutes__loading-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-self: center;
}

.uplot-logo {
  width: 25vw;
  height: auto;
}

/* Delete pop up styles */

.deletePopUp {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.deletePopUp__container {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--limeyGreen);
  padding: 0px 15px 15px 15px;
  border-radius: 10px;
}

.deletePopUp__closeButton {
  color: var(--mainGreen);
  font-size: 3rem;
  font-weight: 700;
  align-self: flex-end;
  border: none;
  background: none;
  padding: 0px;
}

.deletePopUp__closeButton:hover {
  cursor: pointer;
  color: var(--white);
}

.deletePopUp__title {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--mainGreen);
  margin-top: 0px;
}

.deletePopUp__yesOrNoButtonsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.deletePopUp__noButton {
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 250px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  color: var(--mainGreen);
}

.deletePopUp__noButton:hover {
  background-color: var(--mainGreen);
  color: var(--white);
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.deletePopUp__yesButton {
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 250px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  color: var(--mainGreen);
}

.deletePopUp__yesButton:hover {
  background-color: rgb(249, 0, 0);
  color: var(--white);
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Breakpoints */

@media (width>1024px) {
  .savedRoutes__delete {
    justify-self: flex-start;
  }
}

/* Mobile View */
@media (width < 768px) {
  .savedRoutes__table {
    width: 100%;
    margin: 0;
  }

  .savedRoutes__routeName {
    width: 100%;
    overflow-x: scroll;
    font-size: 1rem;
  }

  .savedRoutes__retrieveRouteButton {
    width: 100%;
    height: 2.5rem;
    font-size: 0.75rem;
  }

  .savedRoutes__delete {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .savedRoutes__tableContainer {
    width: 100%;
    padding: 0.5rem;
  }

  .savedRoutes__deleteIcon {
    width: 20px;
    height: 20px;
  }

  .savedRoutes__deleteButton {
    height: 2.5rem;
    width: 2.5rem;
  }

  .savedRoutes__row {
    grid-template-columns: 1fr 0.75fr 0.3fr;
  }

  .deletePopUp {
    padding: 1rem;
  }

  .deletePopUp__container {
    width: 100%;
  }

  .deletePopUp__title,
  .deletePopUp__yesOrNoButtonsContainer button {
    font-size: 1.25rem;
    text-align: center;
  }
}
