* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  height: 100dvh;
}

#root {
  height: 100%;
  overflow-y: scroll;
}

:root {
  --mainGreen: #04b66c;
  --limeyGreen: #b6e1c9;
  --white: #ffffff;
  --pastelGreen: #e5f5ec;
  --bgPastelGreen: rgb(160, 212, 182);
}
