/* Main Styles */

.routeData {
  /* display: flex;
  justify-content: space-between;
  align-items: flex-start; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  padding: 1rem;
  gap: 1rem;
  margin-top: 20px;
  background-color: var(--white);
  margin-bottom: 1rem;
}

/* LEFT HAND SIDE OF CARD */

.routeData__row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.routeData__markerLetter {
  flex: 1;
  display: grid;
  place-content: center;
  background-color: var(--white);
  border-radius: 50%;
  aspect-ratio: 1;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}

.routeData__dottedLineBottom {
  position: absolute;
  border-left: 1px dashed black;
  width: 10px;
  height: 1.25rem;
  left: 50%;
  top: 100%;
}

.routeData__dottedLineTop {
  position: absolute;
  border-left: 1px dashed black;
  width: 10px;
  height: 1.5rem;
  left: 50%;
  top: -75%;
}

.routeData__timings {
  display: flex;
  background-color: var(--white);
  padding: 1rem;
  flex: 6;
  gap: 1rem;
  border-radius: 10px;
}

.routeData__markerGreen {
  filter: invert(49%) sepia(31%) saturate(5150%) hue-rotate(126deg)
    brightness(98%) contrast(97%);
}

.routeData__markerBlue {
  filter: invert(7%) sepia(100%) saturate(7101%) hue-rotate(245deg)
    brightness(114%) contrast(134%);
}

.routeData__markerRed {
  filter: invert(12%) sepia(75%) saturate(7465%) hue-rotate(359deg)
    brightness(94%) contrast(115%);
}

.routeData__arrivalTime {
  flex: 2;
  display: flex;
  align-items: center;
}

.routeData__totalJourneyTime {
  justify-content: center;
}

.routeData__timingsContainer {
  background-color: var(--limeyGreen);
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  border-radius: 10px;
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  min-width: 50%;
  position: relative;
}

.routeData__coach {
  width: 30%;
  position: absolute;
  transform: rotate(0deg);
  animation: coachAnimation infinite 8s;
}

@keyframes coachAnimation {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 0;
    top: 70%;
  }
  50% {
    left: 60%;
    top: 70%;
  }
  75% {
    left: 70%;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}

/* RIGHT SIDE CONTAINER */

.routeData__rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.routeData__routeControl {
  display: grid;
  text-align: center;
  gap: 1rem;
}

.routeData__selectTime {
  display: grid;
  grid-template-columns: auto auto;
}

.routeData__departureHeading {
  color: var(--mainGreen);
  top: 0px;
  margin-top: 0px;
  margin-bottom: 0;
  padding-bottom: 0.8rem;
  font-size: x-large;
}

.routeData__timeWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.routeData__inputTimeBox {
  color: #ffffff;
  width: 50%;
  height: 50px;
  border-radius: 10px;
  border: 2px solid black;
  text-align: start;
  padding-left: 0.8rem;
  align-self: flex-end;
  font-size: xx-large;
  color: black;
}

.routeData__inputTimeBox:focus {
  border: #04b66c solid 2px;
  outline: none;
}

.routeData__currentTimeButton {
  border: none;
  width: 50%;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1rem;
  color: var(--mainGreen);
  background-color: var(--pastelGreen);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
}

.routeData__currentTimeButton:hover {
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.routeData__buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.routeData__saveRouteButton {
  background-color: var(--mainGreen);
  color: var(--white);
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 700;
  height: 50px;
  width: 100%;
}

.routeData__saveRouteButton:hover {
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.routeData__resetRouteButton {
  background-color: var(--white);
  color: var(--mainGreen);
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 700;
  height: 50px;
  width: 100%;
}

.routeData__resetRouteButton:hover {
  background-color: var(--mainGreen);
  color: var(--white);
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Pop Up Styling */

.savePopUp {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.savePopUp__container {
  background-color: var(--white);
  width: 60%;
  height: 100px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  padding: 0px 15px 15px 15px;
}

/* Left side of pop up */

.savePopUp__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}

.savePopUp__label {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--mainGreen);
  margin-bottom: 10px;
}

.savePopUp__input {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 2px solid black;
  padding-left: 10px;
  font-size: 1rem;
}
.savePopUp__input:focus {
  border: #04b66c solid 2px;
  outline: none;
}
/* Right side of pop up */

.savePopUp__buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.savePopUp__saveButton {
  background-color: var(--mainGreen);
  color: var(--white);
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 700;
  height: 30px;
  width: 100%;
}

.savePopUp__saveButton:hover {
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.savePopUp__closeButton {
  color: var(--mainGreen);
  font-size: 2rem;
  font-weight: 700;
  align-self: flex-end;
  border: none;
  background: none;
  padding: 0px;
}

.savePopUp__closeButton:hover {
  cursor: pointer;
}

/* Loading pop up styles */

.savePopUp__loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
}

.savePopUp__logo {
  max-width: 50%;
  height: auto;
}

.savePopUp__loadingSymbol {
  max-width: 20%;
}

/* Success pop up styles */

.savePopUp__successContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  width: 400px;
  height: 240px;
  padding: 0px 15px 15px 15px;
}

.savePopUp__savedIcon {
  width: 100px;
}

.cheekySecondClassNameForCloseButton {
  font-size: 3rem;
}

.savePopUp__saveRoutesButton {
  background-color: var(--mainGreen);
  color: var(--white);
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 700;
  height: 30px;
  width: 300px;
}

.savePopUp__saveRoutesButton:hover {
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* ?????? */

.routeData__timings img {
  width: 2rem;
}

/* Breakpoints */

@media (width > 1440px) {
  .routeData {
    grid-column: 2 /4;
    grid-row: 2 / 43;
    width: 100%;
    padding: 0px 10px;
    margin-top: 20px;
    align-self: flex-start;
    gap: 20px;
  }

  .routeData__information {
    margin: 0px 0px 0px 0px;
  }

  .routeData__popup {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
