/* Main Styles */

.routeData {
  /* display: flex;
  justify-content: space-between;
  align-items: flex-start; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  padding: 1rem;
  gap: 1rem;
  margin-top: 20px;
  background-color: var(--white);
  margin-bottom: 1rem;
}

/* Form input styles */

.routeData__row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.routeData__markerLetter {
  flex: 1;
  display: grid;
  place-content: center;
  background-color: var(--white);
  border-radius: 50%;
  aspect-ratio: 1;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}

.routeData__dottedLineBottom {
  position: absolute;
  border-left: 1px dashed black;
  width: 10px;
  height: 1.25rem;
  left: 50%;
  top: 100%;
}

.routeData__dottedLineTop {
  position: absolute;
  border-left: 1px dashed black;
  width: 10px;
  height: 1.5rem;
  left: 50%;
  top: -75%;
}

.routeData__timings {
  display: flex;
  background-color: var(--white);
  padding: 1rem;
  flex: 6;
  gap: 1rem;
  border-radius: 10px;
}

.routeData__markerGreen {
  filter: invert(49%) sepia(31%) saturate(5150%) hue-rotate(126deg)
    brightness(98%) contrast(97%);
}

.routeData__markerBlue {
  filter: invert(7%) sepia(100%) saturate(7101%) hue-rotate(245deg)
    brightness(114%) contrast(134%);
}

.routeData__markerRed {
  filter: invert(12%) sepia(75%) saturate(7465%) hue-rotate(359deg)
    brightness(94%) contrast(115%);
}

.routeData__arrivalTime {
  flex: 2;
  display: flex;
  align-items: center;
}

.routeData__totalJourneyTime {
  justify-content: center;
}

.routeData__timingsContainer {
  background-color: var(--limeyGreen);
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  border-radius: 10px;
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  min-width: 50%;
}

.routeData__coach {
  width: 100%;
  animation: wiggle 5s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(0deg);
  }
}

/* RIGHT SIDE CONTAINER */

.routeData__routeControl {
  display: grid;
  text-align: center;
  gap: 1rem;
}

.routeData__selectTime {
  display: grid;
  grid-template-columns: auto auto;
}

.routeData__departureHeading {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 0;
}

.routeData__inputTimeBox {
  color: #ffffff;
}

.routeData__currentTimeButton {
}

.routeData__buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.routeData__saveRouteButton {
  background-color: var(--mainGreen);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 700;
  height: 50px;
  width: 100%;
}

.routeData__resetRouteButton {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 700;
  height: 50px;
  width: 100%;
}

/*should end here */

.routeData__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.routeData__label {
  display: none;
}

.routeData__nameInput {
  width: 75%;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  padding: 0px 0px 0px 20px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
}

.routeData__nameInput:focus {
  border: #04b66c solid 4px;
  outline: none;
}

.routeData__saveRouteButton:hover {
  background-color: #ffffff;
  color: var(--mainGreen);
  cursor: pointer;
}

.routeData__routeHasSaved {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-self: center;
  width: 10vw;
  height: auto;
  padding-top: 2rem;
}

/* Route information and reset button styles */

.routeData__list {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 1.5rem;
  /* width: 75%; */
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0px 0px 60px 0px;
  padding: 10px 0px 10px 0px;
}

.routeData__listItem {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 20px;
  background-color: rgb(228, 228, 228);
}

.routeData__resetRouteButton:hover {
  background-color: #ffffff;
  color: var(--mainGreen);
  cursor: pointer;
}

.routeData__buttonContainer {
  display: flex;
  flex-direction: column;
}

.routeData__editRouteButton {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
}

.routeData__deleteRouteButton {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
}

.routeData__popup {
  width: 75%;
  min-height: 10%;
  background: white;
  color: black;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routeDate__popupContainer {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100dvw;
  height: 100dvh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.routeData__logo {
  max-width: 50%;
  height: auto;
}
.routeData__loadingSymbol {
  max-width: 20%;
}

.routeData__timings img {
  width: 2rem;
}

@media (width > 1440px) {
  .routeData {
    grid-column: 2 /4;
    grid-row: 2 / 43;
    width: 100%;
    padding: 0px 10px;
    margin-top: 20px;
    align-self: flex-start;
    gap: 20px;
  }

  .routeData__information {
    margin: 0px 0px 0px 0px;
  }

  .routeData__popup {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
